@using Microsoft.EntityFrameworkCore.Internal
@model HorizonHotelWebsite.Models.Entities.user.User

@{
    ViewData["Title"] = "Bookings";
    Layout = "~/Views/Shared/_AdministratorLayout.cshtml";
}

<h1>User Bookings</h1>

<p>
    <a asp-action="Index">Show all users</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bookings.ElementAtOrDefault(0).Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bookings.ElementAtOrDefault(0).Room)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bookings.ElementAtOrDefault(0).CheckIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bookings.ElementAtOrDefault(0).CheckOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bookings.ElementAtOrDefault(0).User)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Bookings)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
        </tr>
    }
    </tbody>
</table>